#navigation {
  position:fixed;
  width:0px;
  right:0px;
  top:175px;
  background-color:rgba(255,255,255,0.9);
  box-shadow: 2px 2px 5px #888888;

  max-height:395px;

  transition-property:all;
  -webkit-transition-property:all;
  -moz-transition-property:all;
  -ms-transition-property:all;
  -o-transition-property:all;

  -moz-transition-duration:0.5s;
  -webkit-transition-duration:0.5s;
  -o-transition-duration:0.5s;
  transition-duration:0.5s;
  -ms-transition-duration:0.5s;

  white-space: nowrap;
  overflow: hidden;
  z-index:9;
}

#navigation ul {
  list-style-type:none;
    position:relative;
    right:15px;

}

#navigation li {
  padding-top:13px;
  padding-bottom:13px;
  font-size:1.5em;

}

#navigation a:link,
#navigation a:visited,
#navigation a:hover,
#navigation a:active,
#navigation h3,
#navigation ul
{
  color: black;
  text-decoration: none;
}

#navigation.open {
  width:300px;
}

@media (max-width:1075px) {
  #navigation {
    text-align:center;
  }
  #navigation.open {
  width:100%;
  height:100%;
  max-height:100%;
  top:0px;
  padding-top:5vh;
  font-size:2vh;
  }
  #navigation li {
    text-align:center;
  }
  #socialLinks {
  display:initial;
  }
}
