
RewriteEngine on
RewriteCond %{HTTP_HOST} ^osborneplastering\.spartamma\.co\.uk$ [OR]
RewriteCond %{HTTP_HOST} ^www\.osborneplastering\.spartamma\.co\.uk$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/www\.osborneplastering\.co\.uk\/" [R=301,L]

